# LAB | Ensemble Methods

**Load the data**

In this challenge, we will be working with the same Spaceship Titanic data, like the previous Lab. The data can be found here:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/spaceship_titanic.csv

Metadata

https://github.com/data-bootcamp-v4/data/blob/main/spaceship_titanic.md

In this Lab, you should try different ensemble methods in order to see if can obtain a better model than before. In order to do a fair comparison, you should perform the same feature scaling, engineering applied in previous Lab.

In [82]:
#Libraries
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [83]:
spaceship = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/spaceship_titanic.csv")
spaceship.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

Now perform the same as before:
- Feature Scaling
- Feature Selection

In [85]:
#cleaning
spaceship.isna().sum()
spaceship=spaceship.dropna()
spaceship['Cabin'] = spaceship['Cabin'].apply(lambda x: x.split('/')[0])
spaceship= spaceship.drop(['PassengerId','Name'],axis=1)
spaceship.head()

,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported
0,Europa,False,B,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,False
1,Earth,False,F,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,True
2,Europa,False,A,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,False
3,Europa,False,A,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,False
4,Earth,False,F,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,True

**Perform Train Test Split**

In [87]:
features = spaceship.drop('Transported', axis=1)
target = spaceship[['Transported']]

x_train,x_test,y_train,y_test = train_test_split(features,target,test_size=0.20,random_state=0)

from sklearn.preprocessing import OneHotEncoder

ohe = OneHotEncoder(sparse_output=False)
ohe.fit(x_train[['HomePlanet','CryoSleep','Cabin','Destination','VIP']])
x_train_trans_np = ohe.transform(x_train[['HomePlanet','CryoSleep','Cabin','Destination','VIP']])
x_test_trans_np = ohe.transform(x_test[['HomePlanet','CryoSleep','Cabin','Destination','VIP']])

x_train_trans_df = pd.DataFrame(x_train_trans_np, columns=ohe.get_feature_names_out(), index= x_train.index)
x_test_trans_df = pd.DataFrame(x_test_trans_np, columns=ohe.get_feature_names_out(), index= x_test.index)

In [88]:
x_train_final_df = pd.concat([x_train_trans_df,x_train[['RoomService','FoodCourt','ShoppingMall','Spa','VRDeck']]],axis=1)
x_train_final_df

x_test_final_df = pd.concat([x_test_trans_df,x_test[['RoomService','FoodCourt','ShoppingMall','Spa','VRDeck']]],axis=1)
x_test_final_df

,HomePlanet_Earth,HomePlanet_Europa,HomePlanet_Mars,CryoSleep_False,CryoSleep_True,Cabin_A,Cabin_B,Cabin_C,Cabin_D,Cabin_E,...,Destination_55 Cancri e,Destination_PSO J318.5-22,Destination_TRAPPIST-1e,VIP_False,VIP_True,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
2453,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1334,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
8272,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
5090,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4357,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1633.0,0.0,1742.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,1.0,0.0,0.0,0.0,670.0,1.0,34.0
6816,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,1.0,0.0,300.0,3434.0,0.0,1.0,171.0
5926,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,1.0,0.0,2.0,5329.0,0.0,7.0,0.0
3793,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
6640,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [89]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors = 5)
knn.fit(x_train_final_df,y_train)
pred = knn.predict(x_test_final_df)

knn.score(x_test_final_df,y_test)

/opt/anaconda3/lib/python3.12/site-packages/sklearn/neighbors/_classification.py:238: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

0.7806354009077155

**Model Selection** - now you will try to apply different ensemble methods in order to get a better model

- Bagging and Pasting

In [92]:
from sklearn.ensemble import BaggingRegressor
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

bagging_reg = BaggingRegressor(KNeighborsClassifier(n_neighbors = 5),n_estimators=100, max_samples=1000)

bagging_reg.fit(x_train_final_df, y_train)
y_pred_test_bag= bagging_reg.predict(x_test_final_df)

print("MAE", mean_absolute_error(y_pred_test_bag, y_test))
print("RMSE", mean_squared_error(y_pred_test_bag, y_test, squared=False))
print("R2 score", bagging_reg.score(x_test_final_df, y_test))

#scores are worse than the regular KNN

/opt/anaconda3/lib/python3.12/site-packages/sklearn/ensemble/_bagging.py:505: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return column_or_1d(y, warn=True)

MAE 0.2403479576399395
RMSE 0.3954568012999681

/opt/anaconda3/lib/python3.12/site-packages/sklearn/metrics/_regression.py:483: FutureWarning: 'squared' is deprecated in version 1.4 and will be removed in 1.6. To calculate the root mean squared error, use the function'root_mean_squared_error'.
  warnings.warn(

R2 score 0.37445567322239026

- Random Forests

In [94]:
from sklearn.ensemble import RandomForestRegressor

forest = RandomForestRegressor(n_estimators=100, max_depth=20)
forest.fit(x_train_final_df, y_train)
y_pred_test_forest= forest.predict(x_test_final_df)

print("MAE", mean_absolute_error(y_pred_test_forest, y_test))
print("RMSE", mean_squared_error(y_pred_test_forest, y_test, squared=False))
print("R2 score", forest.score(x_test_final_df, y_test))

#scores are worse than the regular KNN but better than bagging

/opt/anaconda3/lib/python3.12/site-packages/sklearn/base.py:1474: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

MAE 0.2737994892231927
RMSE 0.3800273161438233
R2 score 0.42231695593809027

/opt/anaconda3/lib/python3.12/site-packages/sklearn/metrics/_regression.py:483: FutureWarning: 'squared' is deprecated in version 1.4 and will be removed in 1.6. To calculate the root mean squared error, use the function'root_mean_squared_error'.
  warnings.warn(

- Gradient Boosting

In [96]:
from sklearn.ensemble import GradientBoostingRegressor

gb_reg = GradientBoostingRegressor(max_depth=20, n_estimators=100)
gb_reg.fit(x_train_final_df, y_train)
y_pred_test_gb= gb_reg.predict(x_test_final_df)

print("MAE", mean_absolute_error(y_pred_test_gb, y_test))
print("RMSE", mean_squared_error(y_pred_test_gb, y_test, squared=False))
print("R2 score", gb_reg.score(x_test_final_df, y_test))

#worse one so far

/opt/anaconda3/lib/python3.12/site-packages/sklearn/ensemble/_gb.py:668: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)  # TODO: Is this still required?

MAE 0.2752729268378702
RMSE 0.4261789538818985
R2 score 0.2734859970725225

/opt/anaconda3/lib/python3.12/site-packages/sklearn/metrics/_regression.py:483: FutureWarning: 'squared' is deprecated in version 1.4 and will be removed in 1.6. To calculate the root mean squared error, use the function'root_mean_squared_error'.
  warnings.warn(

- Adaptive Boosting

In [104]:
from sklearn.ensemble import AdaBoostRegressor
from sklearn.neighbors import KNeighborsRegressor


ada_reg = AdaBoostRegressor(KNeighborsRegressor(n_neighbors = 5),n_estimators=100)
ada_reg.fit(x_train_final_df, y_train)
y_pred_test_ada= ada_reg.predict(x_test_final_df)

print("MAE", mean_absolute_error(y_pred_test_ada, y_test))
print("RMSE", mean_squared_error(y_pred_test_ada, y_test, squared=False))
print("R2 score", ada_reg.score(x_test_final_df, y_test))

/opt/anaconda3/lib/python3.12/site-packages/sklearn/utils/validation.py:1300: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

MAE 0.35219364599092284
RMSE 0.4176151584591806

/opt/anaconda3/lib/python3.12/site-packages/sklearn/metrics/_regression.py:483: FutureWarning: 'squared' is deprecated in version 1.4 and will be removed in 1.6. To calculate the root mean squared error, use the function'root_mean_squared_error'.
  warnings.warn(

R2 score 0.30239031770045377

Which model is the best and why?

In [ ]:
#comment here